.fivekaHeader {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 906rem;
    padding: 138rem 0 50rem;

    @include bg("/media/5ka/back-5ka-01.jpg", 100% auto, center top);

    &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 10;
        width: 100%;
        height: 200rem;
        content: "";
        pointer-events: none;

        @include bg("/media/5ka/back-5ka-vector.svg", 100% auto, center top);
    }

    &__arm {
        position: absolute;
        bottom: 50rem;
        left: 160rem;
        width: 300rem;
        height: 730rem;
        pointer-events: none;

        &Thumb {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 9;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        &Item {
            position: absolute;
            bottom: 126rem;
            left: 26rem;
            z-index: 11;
            width: 264rem;
            height: 146rem;
        }
    }

    &__head {
        align-items: flex-end;

        &Subtitle {
            margin-bottom: 42rem;
            padding: 8rem 12rem;
            color: #fff;
            font-size: 15rem;
            line-height: 1;
            text-transform: uppercase;
            background: #eb2316;
            border: 2rem solid #fff;
            border-radius: 360rem;
        }

        &Title {
            color: #ee0926;
            font-weight: 700;
            font-size: 37.5rem;
            font-family: Druk;
            line-height: 1.15;
            text-align: right;
            text-transform: uppercase;
        }
    }

    &__content {
        position: relative;
        z-index: 12;
        width: 634rem;
        margin: 125rem 0 0 auto;

        &::before {
            position: absolute;
            top: -50rem;
            left: -186rem;
            z-index: -1;
            width: 900rem;
            height: 900rem;
            content: "";

            @include bg("/media/5ka/main-prize-5ka-bg.svg", contain, left top);
        }

        &Decor {
            position: absolute;
            z-index: 10;
            object-fit: contain;

            &._1 {
                bottom: -24rem;
                left: -118rem;
                width: 170rem;
                height: 114rem;
            }

            &._2 {
                bottom: -136rem;
                left: 112rem;
                width: 127rem;
                height: 100rem;
            }

            &._3 {
                bottom: -106rem;
                left: 356rem;
                width: 95rem;
                height: 106rem;
            }

            &._4 {
                right: -54rem;
                bottom: -112rem;
                width: 168rem;
                height: 205rem;
            }

            &._5 {
                top: -60rem;
                left: 217rem;
                width: 120rem;
                height: 98rem;
            }

            &._6 {
                top: -78rem;
                right: 48rem;
                width: 156rem;
                height: 124rem;
            }
        }

        &Support {
            margin-bottom: 1rem;
            padding: 2rem 10rem 4rem;
            color: #fff;
            font-size: 16rem;
            text-transform: uppercase;
            background: #7a2799;
        }

        &SubTitle {
            margin-bottom: 5rem;
            color: #fff;
            font-size: 32rem;
            text-transform: uppercase;
        }

        &Title {
            width: 109.7%;
            height: 104rem;
            margin-bottom: 10rem;
            margin-left: -4rem;

            @include bg("/media/5ka/main-prize-5ka.svg", contain, left top);
        }

        &Info {
            padding-left: 92rem;

            &Title {
                margin-bottom: 14rem;
                color: #fff;
                font-size: 20rem;
                line-height: 1.45;
                text-transform: uppercase;
            }

            &Link {
                display: inline-block;
                color: #ff49b8;
                font-weight: 600;
                font-size: 16rem;
                font-family: Onest;
                line-height: 0.9;
                border-bottom: 1rem solid rgba(#ff49b8, 0.72);
            }
        }
    }
}
