.fivekaPrizesBlock {
    position: relative;
    z-index: 1;
    border-radius: 24rem;

    &__decor {
        position: absolute;
        z-index: 2;
        object-fit: contain;
        pointer-events: none;
        will-change: transform;

        @include mob {
            z-index: 1;
        }
    }

    &._legend &__decor._1 {
        bottom: 15rem;
        left: -160rem;
        width: 286rem;
        height: 260rem;
        animation: fivekaPrizeLegendDecor1 1.1s infinite ease-in-out;

        @keyframes fivekaPrizeLegendDecor1 {
            0%,
            100% {
                transform: scale(1);
            }

            50% {
                transform: scale(1.045);
            }
        }

        @include mob {
            bottom: 7rem;
            left: -90rem;
            width: 180rem;
            height: 180rem;
        }
    }

    &._legend &__decor._2 {
        bottom: 270rem;
        left: 12rem;
        width: 48rem;
        height: 48rem;
        animation: fivekaPrizeLegendDecor2 1.1s infinite ease-in-out;

        @keyframes fivekaPrizeLegendDecor2 {
            0%,
            100% {
                transform: translate(0, 0);
            }

            50% {
                transform: translate(0, -7rem) rotate(3deg);
            }
        }

        @include mob {
            top: 36rem;
            bottom: auto;
            left: 28rem;
            width: 35rem;
            height: 35rem;
        }
    }

    &._legend &__decor._3 {
        bottom: 201rem;
        left: 76rem;
        width: 55rem;
        height: 82rem;
        animation: fivekaPrizeLegendDecor3 1.1s infinite ease-in-out;
        animation-delay: 0.3s;

        @keyframes fivekaPrizeLegendDecor3 {
            0%,
            100% {
                transform: translate(0, 0);
            }

            50% {
                transform: translate(4rem, -6rem);
            }
        }

        @include mob {
            bottom: 67rem;
            left: 58rem;
            width: 34rem;
            height: 34rem;
        }
    }

    &._legend &__decor._4 {
        bottom: 119rem;
        left: 98rem;
        width: 30rem;
        height: 34rem;
        animation: fivekaPrizeLegendDecor4 1.1s infinite ease-in-out;
        animation-delay: 0.4s;

        @keyframes fivekaPrizeLegendDecor4 {
            0%,
            100% {
                transform: translate(0, 0);
            }

            50% {
                transform: translate(6rem, 2rem) rotate(7deg);
            }
        }

        @include mob {
            top: 100rem;
            bottom: auto;
            left: 14rem;
            width: 22rem;
            height: 22rem;
        }
    }

    &._legend &__decor._5 {
        right: -137rem;
        bottom: 19rem;
        width: 230rem;
        height: 224rem;
        animation: fivekaPrizeLegendDecor5 1.1s infinite ease-in-out;
        animation-delay: 0.2s;

        @keyframes fivekaPrizeLegendDecor5 {
            0%,
            100% {
                transform: scale(1);
            }

            50% {
                transform: scale(1.045);
            }
        }

        @include mob {
            right: -82rem;
            width: 144rem;
            height: 144rem;
        }
    }

    &._legend &__decor._6 {
        right: 30rem;
        bottom: 276rem;
        width: 34rem;
        height: 40rem;
        animation: fivekaPrizeLegendDecor6 1.1s infinite ease-in-out;

        @keyframes fivekaPrizeLegendDecor6 {
            0%,
            100% {
                transform: translate(0, 0);
            }

            50% {
                transform: translate(1rem, -8rem);
            }
        }

        @include mob {
            top: 40rem;
            right: 4rem;
            bottom: auto;
            width: 30rem;
            height: 30rem;
        }
    }

    &._legend &__decor._7 {
        right: 94rem;
        bottom: 219rem;
        width: 39rem;
        height: 48rem;
        animation: fivekaPrizeLegendDecor7 1.1s infinite ease-in-out;
        animation-delay: 0.3s;

        @keyframes fivekaPrizeLegendDecor7 {
            0%,
            100% {
                transform: translate(0, 0);
            }

            50% {
                transform: translate(2rem, 6rem) rotate(-3deg);
            }
        }

        @include mob {
            top: 58rem;
            right: 26rem;
            bottom: auto;
        }
    }

    &._legend &__decor._8 {
        right: 98rem;
        bottom: 93rem;
        width: 36rem;
        height: 36rem;
        animation: fivekaPrizeLegendDecor8 1.1s infinite ease-in-out;
        animation-delay: 0.6s;

        @keyframes fivekaPrizeLegendDecor8 {
            0%,
            100% {
                transform: rotate(0deg);
            }

            50% {
                transform: rotate(-19deg);
            }
        }

        @include mob {
            right: 52rem;
            bottom: 120rem;
            width: 18rem;
            height: 18rem;
        }
    }

    &._school &__decor._1 {
        bottom: 116rem;
        left: -45rem;
        width: 160rem;
        height: 184rem;
        animation: fivekaPrizeSchoolDecor1 1.1s infinite ease-in-out;

        @keyframes fivekaPrizeSchoolDecor1 {
            0%,
            100% {
                transform: scale(1);
            }

            50% {
                transform: scale(1.05);
            }
        }

        @include mob {
            bottom: 16rem;
            left: -69rem;
            width: 140rem;
            height: 140rem;
            transform: rotate(8deg);
        }
    }

    &._school &__decor._2 {
        bottom: 303rem;
        left: 32rem;
        width: 23rem;
        height: 23rem;
        animation: fivekaPrizeSchoolDecor2 1.1s infinite ease-in-out;

        @keyframes fivekaPrizeSchoolDecor2 {
            0%,
            100% {
                transform: translate(0, 0);
            }

            50% {
                transform: rotate(18deg);
            }
        }

        @include mob {
            bottom: 23rem;
            width: 20rem;
            height: 20rem;
        }
    }

    &._school &__decor._3 {
        bottom: 128rem;
        left: 65rem;
        width: 80rem;
        height: 80rem;
        animation: fivekaPrizeSchoolDecor3 1.1s infinite ease-in-out;
        animation-delay: 0.4s;

        @keyframes fivekaPrizeSchoolDecor3 {
            0%,
            100% {
                transform: translate(0, 0);
            }

            50% {
                transform: translate(5rem, -1rem);
            }
        }

        @include mob {
            top: 42rem;
            bottom: auto;
            left: 8rem;
            width: 56rem;
            height: 56rem;
            transform: rotate(-75deg);
        }
    }

    &._school &__decor._4 {
        bottom: 69rem;
        left: 53rem;
        width: 52rem;
        height: 52rem;
        animation: fivekaPrizeSchoolDecor4 1.1s infinite ease-in-out;

        @keyframes fivekaPrizeSchoolDecor4 {
            0%,
            100% {
                transform: translate(0, 0);
            }

            50% {
                transform: translate(0, 8rem) rotate(5deg);
            }
        }

        @include mob {
            top: 126rem;
            bottom: auto;
            left: 26rem;
            width: 28rem;
            height: 28rem;
        }
    }

    &._school &__decor._5 {
        right: -50rem;
        bottom: 59rem;
        width: 146rem;
        height: 218rem;
        animation: fivekaPrizeSchoolDecor5 1.1s infinite ease-in-out;
        animation-delay: 0.5s;

        @keyframes fivekaPrizeSchoolDecor5 {
            0%,
            100% {
                transform: scale(1);
            }

            50% {
                transform: scale(1.05);
            }
        }

        @include mob {
            right: -48rem;
            bottom: 12rem;
            width: 140rem;
            height: 140rem;
        }
    }

    &._school &__decor._6 {
        right: 84rem;
        bottom: 284rem;
        width: 28rem;
        height: 34rem;
        animation: fivekaPrizeSchoolDecor6 1.1s infinite ease-in-out;
        animation-delay: 0.4s;

        @keyframes fivekaPrizeSchoolDecor6 {
            0%,
            100% {
                transform: translate(0, 0);
            }

            50% {
                transform: translate(0, 6rem) rotate(8deg);
            }
        }

        @include mob {
            top: 36rem;
            right: 20rem;
            bottom: auto;
            width: 24rem;
            height: 30rem;
        }
    }

    &._school &__decor._7 {
        right: 105rem;
        bottom: 148rem;
        width: 27rem;
        height: 32rem;
        animation: fivekaPrizeSchoolDecor7 1.1s infinite ease-in-out;

        @keyframes fivekaPrizeSchoolDecor7 {
            0%,
            100% {
                transform: translate(0, 0);
            }

            50% {
                transform: translate(-7rem, 2rem) rotate(-7deg);
            }
        }

        @include mob {
            right: 40rem;
            bottom: 22rem;
            width: 20rem;
            height: 24rem;
        }
    }

    &._school &__decor._8 {
        right: 70rem;
        bottom: 65rem;
        width: 48rem;
        height: 55rem;
        animation: fivekaPrizeSchoolDecor8 1.1s infinite ease-in-out;

        @keyframes fivekaPrizeSchoolDecor8 {
            0%,
            100% {
                transform: translate(0, 0);
            }

            50% {
                transform: translate(-5rem, 5rem) rotate(-4deg);
            }
        }

        @include mob {
            top: 100rem;
            right: 14rem;
            bottom: auto;
            width: 36rem;
            height: 36rem;
        }
    }

    &__inner {
        position: relative;
        align-items: center;
        padding: 24rem 30rem;
        overflow: hidden;
        background: rgba(#fbac2f, 0.2);
        border-radius: inherit;

        @include mob {
            padding: 32rem 29rem 40rem;
            overflow: visible;
        }
    }

    &__title {
        margin-bottom: 32rem;
        padding: 2rem 10rem 4rem;
        color: #fff;
        font-size: 16rem;
        text-transform: uppercase;
        background: #231f20;
        border-radius: 4rem;

        @include mob {
            padding: 3rem 8rem 5rem;
            font-size: 18rem;
        }
    }

    &__prizes {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: calc(100% + 20rem);

        @include mob {
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
        }

        &Item {
            width: calc(100% / 2);
            margin-bottom: 33rem;
            padding: 0 10rem;

            @include mob {
                width: 100%;
                padding: 0;
            }
        }
    }

    &__prize {
        width: 100%;
        height: 100%;

        &Head {
            width: 100%;
            margin-bottom: 20rem;
            background: #d300b4;
            border-radius: 50%;
            aspect-ratio: 1;

            @include mob {
                width: 232rem;
                margin: 0 auto 22rem;
            }
        }

        &Thumb {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        &Title {
            max-width: 90%;
            margin: 0 auto;
            color: #fff;
            font-size: 12rem;
            line-height: 1.4;
            text-align: center;
            text-transform: uppercase;

            @include mob {
                max-width: 95%;
                font-size: 15.2rem;
            }
        }
    }

    &__slider {
        position: relative;
        z-index: 3;
        width: 100%;

        &Button {
            position: absolute;
            top: 116rem;
            z-index: 2;
            width: 40rem;
            height: 40rem;
            padding: 12rem;
            background: #fff;
            border-radius: 50%;
            transform: translate(0, -50%);

            @include icon(#ea001e);

            &._prev {
                left: -18rem;
            }

            &._next {
                right: -18rem;
            }
        }

        &Inner {
            position: relative;
            z-index: 1;
            width: 280rem;
            margin: 0 auto;
        }

        &Items {
            display: inline-flex;
        }

        &Item {
            width: 280rem;
            margin-right: 32rem;
        }
    }
}
