.products {
    &._5ka {
        padding-top: 20rem;

        @include mob {
            padding-top: 4rem;
        }
    }

    &__slider {
        position: relative;
        margin-bottom: 28rem;
        padding: 0 120rem;

        @include mob {
            margin-bottom: 32rem;
            padding: 0 20rem;
        }

        &Button {
            position: absolute;
            top: 50%;
            z-index: 3;
            width: 62rem;
            height: 62rem;
            background: #ffe7a5;
            border-radius: 50%;
            transform: translate(0, -50%);

            &._prev {
                left: 30rem;
                padding-right: 4rem;
            }

            &._next {
                right: 30rem;
                padding-left: 4rem;
            }

            &Icon {
                width: 26rem;
                height: 26rem;

                @include icon(#c50018);
            }
        }

        &Inner {
            position: relative;
        }

        &Items,
        &ReactItems {
            position: relative;
            z-index: 2;
            display: inline-flex;
        }

        &Items {
            opacity: 0;
            pointer-events: none;
        }

        &ReactItems {
            position: absolute;
            top: 0;
            left: 0;

            // pointer-events: none;
            // opacity: 0;
        }

        &Item {
            width: 280rem;
            height: 396rem;
            margin-right: 30rem;
            transition: $trans;

            @include mob {
                width: 330rem;
                height: 460rem;
                margin-right: 12rem;
            }

            @include desk {
                &:not(._current) {
                    opacity: 0;
                }
            }
        }

        &MobButtons {
            margin-top: 26rem;
        }

        &MobItems {
            margin: 0 17rem;
            color: #fff;
            font-weight: 700;
            font-size: 18rem;
        }

        &MobButton {
            width: 22rem;
            height: 18rem;

            @include icon(#fff);
        }
    }

    // &._5ka &__slider {
    //     &MobItems {
    //         color: #fff;
    //     }

    //     &MobButton {
    //         @include icon(#fff);
    //     }

    //     &Button {
    //         background: #fff;

    //         @include icon(#ff1c24);
    //     }
    // }
}
