.products {
    &._5ka {
        padding-top: 20rem;

        @include mob {
            padding-top: 4rem;
        }
    }

    &__slider {
        position: relative;
        margin-bottom: 36rem;
        padding: 0 100rem;

        @include mob {
            margin-bottom: 30rem;
            padding: 0 12rem;
        }

        &Button {
            position: absolute;
            top: 50%;
            z-index: 3;
            width: 64rem;
            height: 64rem;
            background: #ff49b8;
            border-radius: 50%;
            transform: translate(0, -50%);

            &._prev {
                left: 6rem;
                padding-right: 2rem;
            }

            &._next {
                right: 6rem;
                padding-left: 2rem;
            }

            &Icon {
                width: 26rem;
                height: 26rem;

                @include icon(#fff);
            }
        }

        &Inner {
            position: relative;
        }

        &Items,
        &ReactItems {
            position: relative;
            z-index: 2;
            display: inline-flex;
        }

        &Items {
            opacity: 0;
            pointer-events: none;
        }

        &ReactItems {
            position: absolute;
            top: 0;
            left: 0;

            // pointer-events: none;
            // opacity: 0;
        }

        &Item {
            width: 280rem;
            height: 388rem;
            margin-right: 30rem;
            transition: $trans;

            @include mob {
                width: 330rem;
                height: 454rem;
                margin-right: 12rem;
            }

            @include desk {
                &:not(._current) {
                    opacity: 0;
                }
            }
        }

        &MobButtons {
            margin-top: 26rem;

            @include mob {
                margin-top: 18rem;
            }
        }

        &MobItems {
            margin: 0 18rem;
            color: #5d279e;
            font-weight: 900;
            font-size: 18rem;
            font-family: Onest;
        }

        &MobButton {
            width: 22rem;
            height: 22rem;

            @include icon(#5d279e);
        }
    }

    &__button {
        @include mob {
            width: 230rem;
            height: 64rem;
        }
    }

    &._5ka &__slider {
        &MobItems {
            color: #fff;
        }

        &MobButton {
            @include icon(#fff);
        }

        &Button {
            width: 56rem;
            height: 56rem;
            background: #fff;

            &._prev {
                left: 14rem;
            }

            &._next {
                right: 14rem;
            }

            &Icon {
                width: 23rem;
                height: 23rem;
            }

            @include icon(#ff1c24);
        }
    }
}
