.indexMap {
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 112rem 0 100rem;

    @include mob {
        padding: 32rem 0 40rem;
    }

    &__decor {
        position: absolute;
        object-fit: contain;

        &._1 {
            top: -80rem;
            left: 146rem;
            z-index: 2;
            width: 218rem;
            height: 218rem;
            animation: mapDecor1 4s infinite linear;

            @keyframes mapDecor1 {
                0% {
                    transform: rotate(0deg);
                }

                100% {
                    transform: rotate(-360deg);
                }
            }
        }

        &._2 {
            top: -60rem;
            left: -137rem;
            z-index: 1;
            width: 446rem;
            height: 446rem;
            overflow: hidden;
            background: #ff49b8;
            border-radius: 50%;
            animation: mapDecorCircle 10s infinite linear;

            @keyframes mapDecorCircle {
                0% {
                    transform: rotate(0deg);
                }

                100% {
                    transform: rotate(360deg);
                }
            }

            &::before {
                position: absolute;
                bottom: -108rem;
                left: -158rem;
                width: 1200rem;
                height: 1050rem;
                animation: mapDecor2 5s infinite ease-in-out;
                content: "";

                @include bg("/media/map-decor-2-lines.svg", contain, left bottom);

                @keyframes mapDecor2 {
                    0% {
                        transform: translate(0, 0) rotate(0deg);
                    }

                    50% {
                        transform: translate(40rem, 150rem) rotate(100deg);
                    }

                    100% {
                        transform: translate(0, 0) rotate(0deg);
                    }
                }
            }
        }
    }

    &__circle {
        position: absolute;
        top: 6rem;
        right: -28rem;
        z-index: 1;
        width: 275rem;
        height: 275rem;

        &Item {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 146rem;
            height: 146rem;
            border: 16rem solid rgba(#ff49b8, 0.2);
            border-radius: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            animation: mapCircle 2s infinite linear;

            @keyframes mapCircle {
                0% {
                    width: 86rem;
                    height: 86rem;
                    opacity: 0;
                }

                10% {
                    opacity: 1;
                }

                90% {
                    opacity: 1;
                }

                100% {
                    width: 320rem;
                    height: 320rem;
                    opacity: 0;
                }
            }

            &._2 {
                animation-delay: 0.5s;
            }

            &._3 {
                animation-delay: 1s;
            }

            &._4 {
                animation-delay: 1.5s;
            }
        }
    }

    &__inner {
        position: relative;
        width: calc(100% - 136rem);

        @include mob {
            width: 100%;
        }
    }

    &__top {
        position: absolute;
        bottom: 100%;
        left: 0;
        z-index: 2;
        width: 620rem;
        padding: 22rem 38rem 23rem;
        color: #fff;
        font-size: 32rem;
        text-transform: uppercase;
        background: #8200cc;
        border-radius: 0 24rem 0 0;

        @include mob {
            width: 86.5%;
            padding: 13rem 22rem 15rem;
            font-size: 20.5rem;
            border-radius: 0 16rem 0 0;
        }

        & i {
            position: absolute;
            top: 50%;
            right: 28rem;
            width: 36rem;
            height: 36rem;
            margin: 2rem 0 0;
            transform: translate(0, -50%);

            @include mob {
                right: 16rem;
                width: 21rem;
                height: 21rem;
            }
        }
    }

    &__map {
        position: relative;
        z-index: 5;
        width: 100%;
        height: 2842rem;

        @include mob {
            height: 1870rem;
        }

        &Nav {
            position: sticky;
            position: -webkit-sticky;
            top: 108rem;
            z-index: 11;
            display: flex;
            margin: 24rem auto;
            padding: 4rem;
            background: rgba(#fff, 0.5);
            border-radius: 12rem;

            @include blur(10rem);

            @include mob {
                top: 76rem;
                width: calc(100% - 20rem);
                margin: 10rem auto;
                padding: 5rem;
            }

            &Link {
                padding: 14rem 20rem;
                color: #d300b4;
                font-size: 11rem;
                text-align: center;
                text-transform: uppercase;
                border-radius: 8rem;
                transition: $trans;

                @include button(0.97);

                @include hover {
                    &:hover {
                        color: #ff49b8;
                    }
                }

                @include mob {
                    width: calc(100% / 3);
                    padding: 5rem 7rem;
                    font-size: 11.5rem;
                    line-height: 1.3;
                }

                &._active {
                    color: #fff;
                    background: #d300b4;
                }

                & + & {
                    margin-left: 6rem;

                    @include mob {
                        margin-left: 0;
                    }
                }
            }
        }

        &Backs {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            overflow: hidden;
            border-radius: 0 48rem 48rem;

            @include mob {
                border-radius: 0 24rem 24rem;
            }
        }

        &Back {
            position: absolute;
            left: 0;
            width: 100%;

            &:nth-child(1) {
                top: 0;
                height: 910rem;

                @include mob {
                    height: 607rem;
                }
            }

            &:nth-child(2) {
                top: 910rem;
                height: 910rem;

                @include mob {
                    top: 607rem;
                    height: 607rem;
                }
            }

            &:nth-child(3) {
                top: 1820rem;
                height: 1190rem;

                @include mob {
                    top: 1214rem;
                    height: 658rem;
                }
            }

            &Thumb {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center top;
            }
        }

        &Location {
            position: absolute;
            left: 50%;
            z-index: 2;
            transform: translate(-50%, 0);
            user-select: none;

            &Thumb {
                position: relative;
                z-index: 3;
                display: block;
                width: 100%;
                height: 100%;
                object-fit: contain;
                pointer-events: none;
            }

            &Title {
                position: absolute;
                top: 100%;
                left: 50%;
                z-index: 5;
                transform: translate(-50%, 0);

                &Inner {
                    padding: 8rem 17rem;
                    color: #8200cc;
                    font-size: 13rem;
                    line-height: 1.12;
                    white-space: nowrap;
                    text-align: center;
                    text-transform: uppercase;
                    background: #fff;
                    border-radius: 360rem;
                    box-shadow: 0 4rem 0 0 rgba(#6e0f45, 0.4);
                    transition: $trans;
                    will-change: transform;

                    &:active {
                        transform: scale(0.97);
                    }

                    @include hover {
                        &:hover {
                            color: #fff;
                            background: #8200cc;
                        }
                    }

                    @include mob {
                        padding: 5.5rem 11rem 5rem;
                        font-size: 9rem;
                        line-height: 1.1;
                        box-shadow: 0 2.5rem 0 0 rgba(#6e0f45, 0.4);
                    }
                }

                &Inner:hover + &Alert {
                    opacity: 1;
                }

                &Alert {
                    position: absolute;
                    bottom: 100%;
                    left: 0;
                    z-index: 10;
                    width: 184rem;
                    margin-bottom: 9rem;
                    padding: 20rem;
                    color: #5d279e;
                    font-weight: 600;
                    font-size: 13rem;
                    font-family: Onest;
                    line-height: 1.3;
                    background: rgba(#fff, 0.7);
                    border-radius: 24rem;
                    opacity: 0;
                    transition: $trans;
                    pointer-events: none;

                    @include blur(10rem);
                }
            }
        }

        &Location._1 {
            top: 95rem;
            width: 182rem;
            height: 240rem;
            margin-left: -352rem;

            @include mob {
                top: 105rem;
                width: 120rem;
                height: 150rem;
                margin-left: -134rem;
            }

            &::after {
                position: absolute;
                right: -64rem;
                bottom: -30rem;
                z-index: 4;
                width: 66rem;
                height: 48rem;
                content: "";
                pointer-events: none;

                @include bg("/media/arrows-map-1.png", contain, left top);

                @include mob {
                    right: -40rem;
                    bottom: 70rem;
                    width: 44rem;
                    height: 36rem;
                    transform: rotateY(180deg);
                }
            }
        }

        &Location._1 &LocationTitle {
            margin: 26rem 0 0 20rem;

            @include mob {
                margin: 6rem 0 0 -7rem;
            }
        }

        &Location._2 {
            top: 72rem;
            width: 276rem;
            height: 276rem;
            margin-left: 379rem;

            @include mob {
                top: 98rem;
                width: 155rem;
                height: 155rem;
                margin-left: 136rem;
            }
        }

        &Location._2 &LocationTitle {
            margin: 13rem 0 0;

            @include mob {
                margin: 7rem 0 0 5rem;
            }
        }

        &Location._3 {
            top: 276rem;
            width: 370rem;
            height: 370rem;
            margin-left: 6rem;

            @include mob {
                top: 200rem;
                width: 200rem;
                height: 200rem;
                margin-left: 3rem;
            }
        }

        &Location._3 &LocationTitle {
            margin: 3rem 0 0 13rem;

            @include mob {
                margin: 1rem 0 0 -2rem;
            }
        }

        &Location._4 {
            top: 601rem;
            width: 256rem;
            height: 256rem;
            margin-left: -350rem;

            @include mob {
                top: 401rem;
                width: 156rem;
                height: 156rem;
                margin-left: -122rem;
            }
        }

        &Location._4 &LocationTitle {
            margin: -56rem 0 0 160rem;

            @include mob {
                margin: -7rem 0 0 -3rem;
            }
        }

        &Location._5 {
            top: 540rem;
            width: 278rem;
            height: 278rem;
            margin-left: 374rem;

            @include mob {
                top: 392rem;
                width: 158rem;
                height: 158rem;
                margin-left: 138rem;
            }
        }

        &Location._5 &LocationTitle {
            margin: -8rem 0 0 -99rem;

            @include mob {
                margin: 6rem 0 0 -1rem;
            }
        }

        &Location._6 {
            top: 947rem;
            width: 279rem;
            height: 279rem;
            margin-left: -188rem;

            @include mob {
                top: 681rem;
                width: 174rem;
                height: 174rem;
                margin-left: -94rem;
            }

            &::after {
                position: absolute;
                top: 17rem;
                right: -98rem;
                z-index: 4;
                width: 66rem;
                height: 48rem;
                content: "";
                pointer-events: none;

                @include bg("/media/arrows-map-2.png", contain, left top);

                @include mob {
                    top: 44rem;
                    right: -44rem;
                    width: 42rem;
                    height: 36rem;
                }
            }
        }

        &Location._6 &LocationTitle {
            margin: 0 0 0 -3rem;
        }

        &Location._7 {
            top: 1103rem;
            width: 264rem;
            height: 264rem;
            margin-left: 174rem;

            @include mob {
                top: 782rem;
                width: 165rem;
                height: 165rem;
                margin-left: 94rem;
            }
        }

        &Location._7 &LocationTitle {
            margin: 14rem 0 0;

            @include mob {
                margin: 8rem 0 0 -3rem;
            }
        }

        &Location._8 {
            top: 1352rem;
            width: 228rem;
            height: 228rem;
            margin-left: -156rem;

            @include mob {
                top: 918rem;
                width: 144rem;
                height: 144rem;
                margin-left: -90rem;
            }
        }

        &Location._8 &LocationTitle {
            margin: 8rem 0 0 -14rem;

            @include mob {
                margin: 6rem 0 0 -2rem;
            }
        }

        &Location._9 {
            top: 1752rem;
            z-index: 10;
            width: 242rem;
            height: 242rem;
            margin-left: -178rem;

            @include mob {
                top: 1176rem;
                width: 146rem;
                height: 146rem;
                margin-left: -78rem;
            }
        }

        &Location._9 &LocationTitle {
            margin: 11rem 0 0 14rem;

            @include mob {
                margin: 7rem 0 0 -11rem;
            }
        }

        &Location._10 {
            top: 1840rem;
            width: 288rem;
            height: 288rem;
            margin-left: 166rem;

            @include mob {
                top: 1268rem;
                width: 165rem;
                height: 165rem;
                margin-left: 76rem;
            }
        }

        &Location._10 &LocationTitle {
            margin: 9rem 0 0 10rem;

            @include mob {
                margin: 7rem 0 0 6rem;
            }
        }

        &Location._11 {
            top: 2055rem;
            width: 288rem;
            height: 288rem;
            margin-left: -155rem;

            @include mob {
                top: 1390rem;
                width: 170rem;
                height: 170rem;
                margin-left: -74rem;
            }
        }

        &Location._11 &LocationTitle {
            margin: -2rem 0 0 -12rem;

            @include mob {
                margin: 5rem 0 0 -2rem;
            }
        }

        &Location._12 {
            top: 2229rem;
            width: 280rem;
            height: 280rem;
            margin-left: 196rem;

            @include mob {
                top: 1492rem;
                width: 180rem;
                height: 180rem;
                margin-left: 102rem;
            }
        }

        &Location._12 &LocationTitle {
            margin: -1rem 0 0 -16rem;

            @include mob {
                margin: 6rem 0 0 -12rem;
            }
        }

        &Location._13 {
            top: 2435rem;
            width: 280rem;
            height: 280rem;
            margin-left: -178rem;

            @include mob {
                top: 1626rem;
                width: 184rem;
                height: 184rem;
                margin-left: -84rem;
            }
        }

        &Location._13 &LocationTitle {
            margin: 1rem 0 0 13rem;

            @include mob {
                margin: -2rem 0 0 10rem;
            }
        }

        &Section {
            position: absolute;
            left: 50%;
            z-index: 6;
            width: 244rem;
            height: 108rem;
            padding: 18rem 13rem 60rem 18rem;
            transform: translate(-50%, 0);

            @include mob {
                width: 162rem;
                height: 50rem;
                padding: 16rem 13rem 60rem 15rem;
            }

            &Thumb {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: contain;
            }

            &Title {
                position: relative;
                z-index: 2;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 35rem;
                color: #fff;
                font-size: 13rem;
                line-height: 1.1;
                text-align: center;
                text-transform: uppercase;

                @include mob {
                    height: 20rem;
                    font-size: 9rem;
                }
            }
        }

        &Section._game {
            top: 863rem;
            margin: 0 0 0 -6rem;

            @include mob {
                top: 614rem;
                margin: 0 0 0 1rem;
            }
        }

        &Section._partners {
            top: 1650rem;
            margin: 0 0 0 -6rem;

            @include mob {
                top: 1115rem;
                margin: 0;
            }
        }
    }
}
