.indexHeader {
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 196rem 0 84rem;
    overflow: hidden;

    @include bg("/media/animate/back-main-1.jpg", 100% auto, center top);

    @include mob {
        height: auto;
        padding: 90rem 0 80rem;

        @include bg("/media/animate/back-main-1-mob.jpg", 100% auto, center top);
    }

    & {
        background-color: #c50018;
    }

    &::after {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        width: 100%;
        height: 100%;
        content: "";
        pointer-events: none;

        @include bg("/media/back-main-1-sub.png", 100% auto, center top);

        @include mob {
            @include bg("/media/back-main-1-sub-mob.png", 100% auto, center top);
        }
    }

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        content: "";
        pointer-events: none;

        @include bg("/media/animate/back-main-2.png", 100% auto, center top);

        @include mob {
            @include bg("/media/animate/back-main-2-mob.png", 100% auto, center top);
        }
    }

    &__decorCircle {
        position: absolute;
        bottom: -16rem;
        left: 477rem;
        z-index: -2;
        width: 452rem;
        height: 452rem;
        overflow: hidden;
        background: rgba(#fff, 0.5);
        border-radius: 50%;
        animation: indexCircleWrap 6s infinite ease-in-out;

        @include mob {
            right: -73rem;
            bottom: 250rem;
            left: auto;
            width: 260rem;
            height: 260rem;
        }

        @keyframes indexCircleWrap {
            0% {
                transform: translate(0, 0);
            }

            50% {
                transform: rotate(-40deg);
            }

            100% {
                transform: translate(0, 0);
            }
        }

        &::before {
            position: absolute;
            right: -144rem;
            bottom: -77rem;
            width: 860rem;
            height: 750rem;
            opacity: 0.6;
            animation: indexCircle 3s infinite ease-in-out;
            content: "";

            @include mob {
                right: -96rem;
                bottom: -58rem;
                width: 573rem;
                height: 500rem;
            }

            @keyframes indexCircle {
                0% {
                    transform: translate(0, 0);
                }

                50% {
                    transform: translate(0, -30rem) scale(1) rotate(50deg);
                }

                100% {
                    transform: translate(0, 0);
                }
            }

            @include bg("/media/animate/index-circle.svg", contain, right bottom);
        }
    }

    &__decor {
        position: absolute;
        z-index: 2;
        transform-origin: left top;
        pointer-events: none;

        & svg {
            width: 100%;
            height: 100%;
        }

        &Inner {
            transform-origin: left top;
        }

        &Wrapper {
            width: 100%;
            height: 100%;
        }
    }

    &__decor._01 {
        top: -210rem;
        left: -360rem;
        z-index: 10;
        width: 690rem;
        height: 690rem;

        @include mob {
            top: 76rem;
            left: -254rem;
            width: 400rem;
            height: 400rem;
        }
    }

    &__decor._1 {
        top: -55rem;
        left: -278rem;
        z-index: 9;
        width: 650px;
        height: 400px;
        transform: rotate(0.7deg);

        @include mob {
            top: 190rem;
            left: -170rem;
        }
    }

    &__decor._1 &__decorInner {
        clip-path: url("#decor1");

        &::before,
        &::after {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            width: 1836px;
            height: 448px;
            animation: decor1 10s infinite linear;
            content: "";

            @include bg("/media/animate/decor-1.jpg", 918px auto, left top, repeat);

            & {
                background-color: #0f9296;
            }

            @keyframes decor1 {
                0% {
                    transform: translate(0, 0);
                }

                100% {
                    transform: translate(-50%, -50%);
                }
            }
        }

        &::after {
            top: 448px;
        }
    }

    &__decor._02 {
        top: -197rem;
        left: -382rem;
        z-index: 10;
        width: 740rem;
        height: 740rem;

        @include mob {
            top: 99rem;
            left: -244rem;
            width: 400rem;
            height: 400rem;
        }
    }

    &__decor._2 {
        top: 184rem;
        left: -312rem;
        z-index: 11;
        width: 650px;
        height: 280px;

        @include mob {
            top: 309rem;
            left: -190rem;
        }
    }

    &__decor._2 &__decorInner {
        background: #0f9296;
        clip-path: url("#decor2");

        &::before,
        &::after {
            position: absolute;
            top: 50px;
            left: 0;
            width: 1218px;
            height: 528px;
            animation: decor2 8s infinite linear;
            content: "";

            @include bg("/media/animate/decor-2.jpg", 609px auto, left top, repeat);

            @keyframes decor2 {
                0% {
                    transform: translate(0, 0);
                }

                100% {
                    transform: translate(-50%, 0);
                }
            }
        }

        &::after {
            left: 1218px;
        }
    }

    &__decor._03 {
        top: -97rem;
        left: -354rem;
        z-index: 5;
        width: 740rem;
        height: 740rem;

        @include mob {
            top: 153rem;
            left: -238rem;
            width: 400rem;
            height: 400rem;
        }
    }

    &__decor._3 {
        top: 148rem;
        left: -280rem;
        z-index: 11;
        width: 750px;
        height: 400px;

        @include mob {
            top: 301rem;
            left: -180rem;
            transform: rotate(-2deg);
        }
    }

    &__decor._3 &__decorInner {
        background: #fbac2f;
        clip-path: url("#decor3");

        &::before,
        &::after {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 2;
            width: 2432px;
            height: 632px;
            animation: decor3 10s infinite linear;
            content: "";

            @include bg("/media/animate/decor-3.jpg", 1216px 316px, left bottom, repeat);

            @keyframes decor3 {
                0% {
                    transform: translate(0, 0);
                }

                100% {
                    transform: translate(-50%, 50%);
                }
            }
        }

        &::after {
            bottom: 316px;
            left: 1216px;
            z-index: 3;
        }
    }

    &__decor._04 {
        top: -729rem;
        left: 374rem;
        z-index: 5;
        width: 1160rem;
        height: 1160rem;
        transform: rotate(1deg);

        @include mob {
            top: -164rem;
            left: 139rem;
            width: 600rem;
            height: 600rem;
            transform: rotate(-3deg);
        }
    }

    &__decor._4 {
        top: -276rem;
        left: 346rem;
        z-index: 11;
        width: 1024px;
        height: 400px;
        transform: rotate(-19deg);

        @include mob {
            top: 31rem;
            left: 120rem;

            // display: none;
        }
    }

    &__decor._4 &__decorInner {
        background: #c50018;
        clip-path: url("#decor4");

        &::before,
        &::after {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 2;
            width: 2070px;
            height: 1120px;
            transform: rotate(-20deg);
            animation: decor4 10s infinite linear;
            content: "";

            @include bg("/media/animate/decor-4.jpg", 800px auto, right top, repeat);

            @keyframes decor4 {
                0% {
                    transform: translate(0, 0) rotate(-20deg);
                }

                100% {
                    transform: translate(50%, -50%) rotate(-20deg);
                }
            }
        }

        &::after {
            top: 560px;
            right: 1035px;
        }
    }

    &__decor._05 {
        top: -594rem;
        left: 444rem;
        z-index: 12;
        width: 1120rem;
        height: 1120rem;
        transform: rotate(0.5deg);

        @include mob {
            top: -224rem;
            left: 198rem;
            width: 750rem;
            height: 750rem;
            transform: rotate(3deg);
        }
    }

    &__decor._5 {
        top: -69rem;
        left: 416rem;
        z-index: 11;
        width: 1024px;
        height: 400px;
        transform: rotate(-19deg);

        @include mob {
            top: 152rem;
            left: 170rem;
        }
    }

    &__decor._5 &__decorInner {
        background: #e32c26;
        clip-path: url("#decor5");

        &::before,
        &::after {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 2;
            width: 2052px;
            height: 656px;
            transform: rotate(-20deg);
            animation: decor5 11s infinite linear;
            content: "";

            @include bg("/media/animate/decor-5.jpg", 850px auto, right top, repeat);

            @keyframes decor5 {
                0% {
                    transform: translate(0, 0) rotate(-20deg);
                }

                100% {
                    transform: translate(50%, -50%) rotate(-20deg);
                }
            }
        }

        &::after {
            top: 328px;
            right: 1026px;
        }
    }

    &__decor._06 {
        top: -356rem;
        left: 508rem;
        z-index: 14;
        width: 1100rem;
        height: 1100rem;

        @include mob {
            top: -14rem;
            left: 220rem;
            width: 650rem;
            height: 650rem;
        }
    }

    &__decor._6 {
        top: 132rem;
        left: 482rem;
        z-index: 13;
        width: 1024px;
        height: 400px;
        transform: rotate(-18deg);

        @include mob {
            top: 270rem;
            left: 206rem;
            transform: rotate(-17deg);
        }
    }

    &__decor._6 &__decorInner {
        background: #fbac2f;
        clip-path: url("#decor6");

        &::before,
        &::after {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 2;
            width: 2128px;
            height: 762px;
            transform: rotate(-20deg);
            animation: decor6 12s infinite linear;
            content: "";

            @include bg("/media/animate/decor-6.jpg", 700px auto, right top, repeat);

            @keyframes decor6 {
                0% {
                    transform: translate(0, 0) rotate(-20deg);
                }

                100% {
                    transform: translate(50%, -50%) rotate(-20deg);
                }
            }
        }

        &::after {
            top: 381px;
            right: 1064px;
        }
    }

    &__inner {
        position: relative;
        align-items: center;
    }

    &__content {
        align-items: flex-end;
        width: 610rem;
        margin: 0 0 0 auto;

        @include mob {
            width: 100%;
        }

        &Title {
            width: 100%;
            height: 100rem;
            margin: 0 -32rem 18rem 0;

            @include bg("/media/index-title.svg", contain, right top);

            @include mob {
                width: 100%;
                height: 61rem;
                margin: 0 auto 16rem 0;

                @include bg("/media/index-title-mob.svg", contain, left top);
            }
        }

        &Text {
            max-width: 506rem;
            color: #5d279e;
            font-size: 16rem;
            line-height: 1.4;
            text-align: right;
            text-transform: uppercase;

            @include mob {
                max-width: 100%;
                font-size: 13rem;
                line-height: 1.4;
                text-align: left;
            }

            & span {
                color: #d557d7;
            }
        }
    }

    &__slider {
        position: relative;
        z-index: 2;
        width: 560rem;
        margin: 200rem 0 0 -34rem;

        @include mob {
            width: 100%;
            margin: 430rem 0 0;
        }

        &::before {
            position: absolute;
            top: -52rem;
            left: 50%;
            z-index: -1;
            width: 230rem;
            height: 230rem;
            margin-left: -12rem;
            transform: translate(-50%, 0);
            content: "";

            @include bg("/media/prize-back-1.svg", contain, center);

            @include mob {
                top: -42rem;
                width: 158rem;
                height: 158rem;
                margin-left: 0;
            }
        }

        &Items {
            display: inline-flex;
        }

        &Item {
            position: relative;
            z-index: 1;
            width: 146rem;
            height: 166rem;
            margin-right: 48rem;
            transition: $trans;

            @include mob {
                width: 104rem;
                height: 130rem;
                margin-right: 32rem;
            }

            &Inner {
                position: relative;
                z-index: 2;
                width: 100%;
                height: 100%;
                transition: $trans;
                will-change: transform;

                &::after {
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    z-index: 2;
                    width: 140rem;
                    height: 24rem;
                    margin-left: 10rem;
                    transform: translate(-50%, 0);
                    opacity: 0.64;
                    transition: $trans;
                    content: "";
                    pointer-events: none;
                    will-change: transform;

                    @include bg("/media/prize-shadow.png", contain, center top);

                    @include mob {
                        margin-bottom: 10rem;
                    }
                }
            }

            &:not([data-show]) &Inner {
                opacity: 0;
            }

            &[data-active] &Inner {
                transform: scale(1.6);

                &::after {
                    margin-left: 0;
                    transform: translate(-50%, 13rem) scale(1.5);
                    opacity: 1;

                    @include mob {
                        transform: translate(-50%, 6rem) scale(1);
                    }
                }
            }

            &Thumb {
                position: relative;
                z-index: 3;
                display: block;
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: center top;
                user-select: none;
                pointer-events: none;
            }
        }
    }

    &__circle {
        position: absolute;
        top: 214rem;
        right: -72rem;
        z-index: 3;
        width: 386rem;
        height: 386rem;

        @include mob {
            top: 334rem;
            right: -70rem;
            width: 210rem;
            height: 210rem;
        }

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            box-shadow: 16rem 16rem 33rem 0 rgba(#7c0000, 0.35);
            content: "";
        }

        &Back {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            object-fit: contain;
            will-change: transform;

            @include bg("/media/circle-pattern.png", contain, center);
        }

        &::after {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 2;
            width: 230rem;
            height: 230rem;
            transform: translate(-50%, -50%);
            content: "";

            @include bg("/media/circle-text.svg", contain, center);

            @include mob {
                width: 124rem;
                height: 124rem;
            }
        }
    }
}
