.indexMap {
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 102rem 0 100rem;

    @include mob {
        padding: 32rem 0 40rem;
    }

    &__decor {
        position: absolute;
        object-fit: contain;

        &._1 {
            top: -80rem;
            left: 146rem;
            z-index: 2;
            width: 218rem;
            height: 218rem;
            animation: mapDecor1 4s infinite linear;

            @keyframes mapDecor1 {
                0% {
                    transform: rotate(0deg);
                }

                100% {
                    transform: rotate(-360deg);
                }
            }
        }

        &._2 {
            top: -60rem;
            left: -137rem;
            z-index: 1;
            width: 446rem;
            height: 446rem;
            overflow: hidden;
            background: #ff49b8;
            border-radius: 50%;
            animation: mapDecorCircle 10s infinite linear;

            @keyframes mapDecorCircle {
                0% {
                    transform: rotate(0deg);
                }

                100% {
                    transform: rotate(360deg);
                }
            }

            &::before {
                position: absolute;
                bottom: -108rem;
                left: -158rem;
                width: 1200rem;
                height: 1050rem;
                animation: mapDecor2 5s infinite ease-in-out;
                content: "";

                @include bg("/media/map-decor-2-lines.svg", contain, left bottom);

                @keyframes mapDecor2 {
                    0% {
                        transform: translate(0, 0) rotate(0deg);
                    }

                    50% {
                        transform: translate(40rem, 150rem) rotate(100deg);
                    }

                    100% {
                        transform: translate(0, 0) rotate(0deg);
                    }
                }
            }
        }
    }

    &__circle {
        position: absolute;
        top: 6rem;
        right: -28rem;
        z-index: 1;
        width: 275rem;
        height: 275rem;

        &Item {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 146rem;
            height: 146rem;
            border: 16rem solid rgba(#ff49b8, 0.2);
            border-radius: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            animation: mapCircle 2s infinite linear;

            @keyframes mapCircle {
                0% {
                    width: 86rem;
                    height: 86rem;
                    opacity: 0;
                }

                10% {
                    opacity: 1;
                }

                70% {
                    opacity: 1;
                }

                100% {
                    width: 320rem;
                    height: 320rem;
                    opacity: 0;
                }
            }

            &._2 {
                animation-delay: 0.5s;
            }

            &._3 {
                animation-delay: 1s;
            }

            &._4 {
                animation-delay: 1.5s;
            }
        }
    }

    &__inner {
        position: relative;
        width: calc(100% - 136rem);

        @include mob {
            width: 100%;
        }
    }

    &__top {
        position: absolute;
        bottom: 100%;
        left: 0;
        z-index: 2;
        width: 620rem;
        padding: 22rem 38rem 23rem;
        color: #fff;
        font-size: 32rem;
        text-transform: uppercase;
        background: #8200cc;
        border-radius: 0 24rem 0 0;

        @include mob {
            width: 86.5%;
            padding: 13rem 22rem 15rem;
            font-size: 20.5rem;
            border-radius: 0 16rem 0 0;
        }

        & i {
            position: absolute;
            top: 50%;
            right: 28rem;
            width: 36rem;
            height: 36rem;
            margin: 2rem 0 0;
            transform: translate(0, -50%);

            @include mob {
                right: 16rem;
                width: 21rem;
                height: 21rem;
            }
        }
    }

    &__map {
        position: relative;
        z-index: 5;
        width: 100%;
        height: 3012rem;

        @include mob {
            height: 1980rem;
        }

        &Nav {
            position: sticky;
            position: -webkit-sticky;
            top: 108rem;
            z-index: 11;
            display: flex;
            margin: 24rem auto;
            padding: 4rem;
            background: rgba(#fff, 0.5);
            border-radius: 12rem;

            @include blur(10rem);

            @include mob {
                top: 76rem;
                width: calc(100% - 20rem);
                margin: 10rem auto;
                padding: 5rem;
            }

            &Link {
                padding: 14rem 20rem;
                color: #d300b4;
                font-size: 11rem;
                text-align: center;
                text-transform: uppercase;
                border-radius: 8rem;
                transition: $trans;

                @include button(0.97);

                @include hover {
                    &:hover {
                        color: #ff49b8;
                    }
                }

                @include mob {
                    width: calc(100% / 3);
                    padding: 5rem 7rem;
                    font-size: 11.5rem;
                    line-height: 1.3;
                }

                &._active {
                    color: #fff;
                    background: #d300b4;
                }

                & + & {
                    margin-left: 6rem;

                    @include mob {
                        margin-left: 0;
                    }
                }
            }
        }

        &Backs {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            overflow: hidden;
            border-radius: 0 48rem 48rem;

            @include mob {
                border-radius: 0 24rem 24rem;
            }
        }

        &Back {
            position: absolute;
            left: 0;
            width: 100%;

            &:nth-child(1) {
                top: 0;
                height: 910rem;

                @include mob {
                    height: 607rem;
                }
            }

            &:nth-child(2) {
                top: 910rem;
                height: 912rem;

                @include mob {
                    top: 606rem;
                    height: 610rem;
                }
            }

            &:nth-child(3) {
                top: 1822rem;
                height: 1190rem;

                @include mob {
                    top: 1215rem;
                    height: 766rem;
                }
            }

            &Thumb {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center top;
            }
        }

        &Location {
            position: absolute;
            left: 50%;
            z-index: 2;
            transform: translate(-50%, 0);
            user-select: none;
            aspect-ratio: 1;

            &Lights {
                position: absolute;
                top: -80rem;
                left: 0;
                z-index: -2;
                display: none;
                width: 100%;
                height: 100%;
                opacity: 0;
                transition: $trans;
                animation: locationLights 0.2s infinite linear;
                pointer-events: none;

                @keyframes locationLights {
                    0%,
                    100% {
                        transform: scale(1);
                    }

                    50% {
                        transform: scale(1.04);
                    }
                }

                &::before,
                &::after {
                    position: absolute;
                    bottom: 0;
                    z-index: -1;
                    width: 50%;
                    height: 100%;
                    background: radial-gradient(#fff, #ffeca8);
                    opacity: 0.3;
                    filter: blur(10rem);
                    content: "";
                }

                &::before {
                    left: 0;
                    border-radius: 100% 0 0;
                }

                &::after {
                    right: 0;
                    border-radius: 0 100% 0 0;
                }
            }

            &Lines {
                position: absolute;
                bottom: 110rem;
                left: 50%;
                z-index: -1;
                display: none;
                width: 150%;
                height: 150%;
                transform: translate(-50%, 0);
                opacity: 0;
                transition: $trans;
                pointer-events: none;
            }

            &:hover &Lines {
                opacity: 1;
            }

            &Line {
                position: absolute;
                bottom: 0;
                left: 50%;
                border-radius: 50%;
                transform: translate(-50%, 50%);
                aspect-ratio: 1;
                transition: $trans;

                &:not(._show) {
                    opacity: 0;
                }

                & svg {
                    width: 100%;
                    height: 100%;
                }

                & ellipse {
                    width: 100%;
                    height: 100%;
                    rx: calc(40% - 6rem);
                    ry: calc(50% - 6rem);
                    cx: 50%;
                    cy: 50%;
                    stroke-width: 3rem;
                }
            }

            &:hover &Lights {
                opacity: 1;
            }

            &Thumb {
                position: relative;
                z-index: 3;
                display: block;
                width: 100%;
                height: 100%;
                object-fit: contain;
                pointer-events: none;
            }

            &Title {
                position: absolute;
                top: 100%;
                left: 50%;
                z-index: 5;
                transform: translate(-50%, 0);

                &Inner {
                    padding: 8rem 17rem;
                    color: #8200cc;
                    font-size: 13rem;
                    line-height: 1.12;
                    white-space: nowrap;
                    text-align: center;
                    text-transform: uppercase;
                    background: #fff;
                    border-radius: 360rem;
                    box-shadow: 0 4rem 0 0 rgba(#6e0f45, 0.4);
                    transition: $trans;
                    will-change: transform;

                    &:active {
                        transform: scale(0.97);
                    }

                    @include hover {
                        &:hover {
                            color: #fff;
                            background: #8200cc;
                        }
                    }

                    @include mob {
                        padding: 5.5rem 11rem 5rem;
                        font-size: 9rem;
                        line-height: 1.1;
                        box-shadow: 0 2.5rem 0 0 rgba(#6e0f45, 0.4);
                    }
                }

                &Inner:hover + &Alert {
                    opacity: 1;
                }

                &Alert {
                    position: absolute;
                    bottom: 100%;
                    left: 0;
                    z-index: 10;
                    width: 184rem;
                    margin-bottom: 9rem;
                    padding: 20rem;
                    color: #5d279e;
                    font-weight: 600;
                    font-size: 13rem;
                    font-family: Onest;
                    line-height: 1.3;
                    background: rgba(#fff, 0.7);
                    border-radius: 24rem;
                    opacity: 0;
                    transition: $trans;
                    pointer-events: none;

                    @include blur(10rem);
                }
            }
        }

        &Location._1 {
            top: 95rem;
            width: 240rem;
            margin-left: -352rem;

            @include mob {
                top: 105rem;
                width: 150rem;
                margin-left: -134rem;
            }

            &::after {
                position: absolute;
                right: -35rem;
                bottom: -30rem;
                z-index: 4;
                width: 66rem;
                height: 48rem;
                content: "";
                pointer-events: none;

                @include bg("/media/arrows-map-1.png", contain, left top);

                @include mob {
                    right: -40rem;
                    bottom: 70rem;
                    width: 44rem;
                    height: 36rem;
                    transform: rotateY(180deg);
                }
            }
        }

        &Location._1 &LocationTitle {
            margin: 26rem 0 0 20rem;

            @include mob {
                margin: 6rem 0 0 -7rem;
            }
        }

        &Location._2 {
            top: 72rem;
            width: 276rem;
            margin-left: 379rem;

            @include mob {
                top: 98rem;
                width: 155rem;
                margin-left: 136rem;
            }
        }

        &Location._2 &LocationTitle {
            margin: 13rem 0 0;

            @include mob {
                margin: 7rem 0 0 5rem;
            }
        }

        &Location._3 {
            top: 275rem;
            width: 372rem;
            margin-left: 7rem;

            @include mob {
                top: 200rem;
                width: 200rem;
                margin-left: 3rem;
            }
        }

        &Location._3 &LocationTitle {
            margin: 3rem 0 0 13rem;

            @include mob {
                margin: 1rem 0 0 -2rem;
            }
        }

        &Location._4 {
            top: 601rem;
            width: 256rem;
            margin-left: -350rem;

            @include mob {
                top: 401rem;
                width: 156rem;
                margin-left: -122rem;
            }
        }

        &Location._4 &LocationTitle {
            margin: -56rem 0 0 160rem;

            @include mob {
                margin: -7rem 0 0 -3rem;
            }
        }

        &Location._5 {
            top: 540rem;
            width: 278rem;
            margin-left: 374rem;

            @include mob {
                top: 392rem;
                width: 158rem;
                margin-left: 138rem;
            }
        }

        &Location._5 &LocationTitle {
            margin: -8rem 0 0 -99rem;

            @include mob {
                margin: 6rem 0 0 -1rem;
            }
        }

        &Location._6 {
            top: 947rem;
            width: 279rem;
            margin-left: -188rem;

            @include mob {
                top: 681rem;
                width: 174rem;
                margin-left: -94rem;
            }

            &::after {
                position: absolute;
                top: 17rem;
                right: -98rem;
                z-index: 4;
                width: 66rem;
                height: 48rem;
                content: "";
                pointer-events: none;

                @include bg("/media/arrows-map-2.png", contain, left top);

                @include mob {
                    top: 44rem;
                    right: -44rem;
                    width: 42rem;
                    height: 36rem;
                }
            }
        }

        &Location._6 &LocationTitle {
            margin: 0 0 0 -3rem;
        }

        &Location._7 {
            top: 1103rem;
            width: 264rem;
            margin-left: 174rem;

            @include mob {
                top: 782rem;
                width: 165rem;
                margin-left: 94rem;
            }
        }

        &Location._7 &LocationTitle {
            margin: 14rem 0 0;

            @include mob {
                margin: 8rem 0 0 -3rem;
            }
        }

        &Location._8 {
            top: 1352rem;
            width: 228rem;
            margin-left: -156rem;

            @include mob {
                top: 918rem;
                width: 144rem;
                margin-left: -90rem;
            }
        }

        &Location._8 &LocationTitle {
            margin: 8rem 0 0 -14rem;

            @include mob {
                margin: 6rem 0 0 -2rem;
            }
        }

        &Location._9 {
            top: 1752rem;
            z-index: 10;
            width: 242rem;
            margin-left: -178rem;

            @include mob {
                top: 1176rem;
                width: 146rem;
                margin-left: -78rem;
            }
        }

        &Location._9 &LocationTitle {
            margin: 11rem 0 0 14rem;

            @include mob {
                margin: 7rem 0 0 -4rem;
            }
        }

        &Location._10 {
            top: 1849rem;
            width: 274rem;
            margin-left: 173rem;

            @include mob {
                top: 1256rem;
                width: 174rem;
                margin-left: 84rem;
            }
        }

        &Location._10 &LocationTitle {
            margin: 6rem 0 0 -2rem;

            @include mob {
                margin: 1rem 0 0 -2rem;
            }

            &Inner {
                color: #c60019;

                @include hover {
                    &:hover {
                        color: #fff;
                    }
                }
            }
        }

        &Location._11 {
            top: 2088rem;
            width: 288rem;
            margin-left: -154rem;

            @include mob {
                top: 1402rem;
                width: 166rem;
                margin-left: -74rem;
            }
        }

        &Location._11 &LocationTitle {
            margin: 8rem 0 0 -12rem;

            @include mob {
                margin: 5rem 0 0 -8rem;
            }
        }

        &Location._12 {
            top: 2227rem;
            width: 286rem;
            margin-left: 176rem;

            @include mob {
                top: 1503rem;
                width: 177rem;
                margin-left: 88rem;
            }
        }

        &Location._12 &LocationTitle {
            margin: -1rem 0 0 6rem;

            @include mob {
                margin: -2rem 0 0 -5rem;
            }
        }

        &Location._13 {
            top: 2458rem;
            width: 280rem;
            margin-left: -163rem;

            @include mob {
                top: 1626rem;
                width: 179rem;
                margin-left: -86rem;
            }
        }

        &Location._13 &LocationTitle {
            margin: 1rem 0 0 -2rem;

            @include mob {
                margin: 0 0 0 2rem;
            }
        }

        &Location._14 {
            top: 2641rem;
            width: 280rem;
            margin-left: 190rem;

            @include mob {
                top: 1748rem;
                width: 186rem;
                margin-left: 89rem;
            }
        }

        &Location._14 &LocationTitle {
            margin: 1rem 0 0 -13rem;

            @include mob {
                margin: -6rem 0 0 -8rem;
            }
        }

        &Section {
            position: absolute;
            left: 50%;
            z-index: 6;
            width: 244rem;
            height: 108rem;
            padding: 18rem 13rem 60rem 18rem;
            transform: translate(-50%, 0);

            @include mob {
                width: 162rem;
                height: 50rem;
                padding: 16rem 13rem 60rem 15rem;
            }

            &Thumb {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: contain;
            }

            &Title {
                position: relative;
                z-index: 2;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 35rem;
                color: #fff;
                font-size: 13rem;
                line-height: 1.1;
                text-align: center;
                text-transform: uppercase;

                @include mob {
                    height: 20rem;
                    font-size: 9rem;
                }
            }
        }

        &Section._game {
            top: 863rem;
            margin: 0 0 0 -6rem;

            @include mob {
                top: 614rem;
                margin: 0 0 0 1rem;
            }
        }

        &Section._partners {
            top: 1650rem;
            margin: 0 0 0 -6rem;

            @include mob {
                top: 1115rem;
                margin: 0;
            }
        }
    }

    &__mapLocation1Light {
        position: absolute;
        z-index: 100;
        object-fit: contain;
        aspect-ratio: 1;

        &:not(._show) {
            opacity: 0;
        }

        &._1 {
            top: 22.6%;
            left: 31.8%;
            width: 5.2%;
        }

        &._2 {
            top: 19.2%;
            left: 33.7%;
            width: 5.7%;
        }

        &._3 {
            top: 16%;
            left: 36.1%;
            width: 6%;
        }

        &._4 {
            top: 13.4%;
            left: 38.8%;
            width: 6%;
        }

        &._5 {
            top: 10.7%;
            left: 41.7%;
            width: 6.2%;
        }

        &._6 {
            top: 8.7%;
            left: 44.8%;
            width: 6.2%;
        }

        &._7 {
            top: 7%;
            left: 48%;
            width: 6.4%;
        }

        &._8 {
            top: 6.2%;
            left: 51.5%;
            width: 6%;
        }

        &._9 {
            top: 5.9%;
            left: 54.7%;
            width: 5.5%;
        }

        &._10 {
            top: 5.9%;
            left: 57.7%;
            width: 5.3%;
        }

        &._11 {
            top: 6.2%;
            left: 60.4%;
            width: 5.3%;
        }

        &._12 {
            top: 7.2%;
            left: 62.5%;
            width: 5.5%;
        }

        &._13 {
            top: 8%;
            left: 64.5%;
            width: 5.5%;
        }
    }

    &__mapLocation1Line {
        position: absolute;
        transform-origin: left top;

        &._1 {
            top: 31%;
            left: 33%;
            z-index: 13;
            width: 40px;
            height: 112px;
            background: rgba(#46efc7, 0.4);
            clip-path: url("#mapLocation1Line1");

            &::before {
                position: absolute;
                top: -5px;
                left: 50%;
                z-index: 2;
                width: 200px;
                height: 50px;
                background: linear-gradient(to bottom, rgba(#46efc7, 0), rgba(#1dd2a8, 0.6), rgba(#46efc7, 0));
                transform: translate(-50%, 0) rotate(15deg);
                animation: mapLoc1Line1 2s infinite ease-in-out;
                content: "";

                @include mob {
                    height: 30px;
                }

                @keyframes mapLoc1Line1 {
                    0% {
                        transform: translate(-50%, -100%) rotate(15deg);
                    }

                    100% {
                        transform: translate(-50%, 112px) rotate(15deg);
                    }
                }
            }
        }

        &._2 {
            top: 27.5%;
            left: 46.5%;
            z-index: 11;
            width: 48px;
            height: 89px;
            background: rgba(#ff6c95, 0.4);
            clip-path: url("#mapLocation1Line2");

            &::before {
                position: absolute;
                top: -5px;
                left: 50%;
                z-index: 2;
                width: 200px;
                height: 50px;
                background: linear-gradient(to bottom, rgba(#ff6c95, 0), rgba(#ff22a9, 0.6), rgba(#ff6c95, 0));
                transform: translate(-50%, -100%) rotate(-15deg);
                animation: mapLoc1Line2 2s infinite ease-in-out;
                animation-delay: 0.5s;
                content: "";

                @include mob {
                    height: 30px;
                }

                @keyframes mapLoc1Line2 {
                    0% {
                        transform: translate(-50%, -100%) rotate(-15deg);
                    }

                    100% {
                        transform: translate(-50%, 112px) rotate(-15deg);
                    }
                }
            }
        }
    }

    &__mapLocation2Info {
        position: absolute;
        top: 0.3%;
        left: 40%;
        z-index: 10;
        width: 19.2%;
        height: 19.2%;
        object-fit: contain;
        animation: mapLoc2Info 1.5s infinite ease-in-out;

        @keyframes mapLoc2Info {
            0%,
            100% {
                transform: translate(0, 0);
            }

            50% {
                transform: translate(0, -8rem);
            }
        }
    }

    &__mapLocation2Light {
        position: absolute;
        bottom: 12.5%;
        left: 20.5%;
        z-index: 10;
        width: 33.5%;
        aspect-ratio: 1;
        object-fit: contain;
        animation: mapLoc2Light 2s infinite ease-in-out;

        @keyframes mapLoc2Light {
            0%,
            100% {
                transform: scale(0.8);
                opacity: 0.2;
            }

            20%,
            80% {
                transform: scale(1);
                opacity: 1;
            }
        }
    }

    &__mapLocation2Dynamic {
        position: absolute;
        top: 14%;
        left: 33%;
        z-index: 10;
        width: 34%;
        aspect-ratio: 1;
        object-fit: contain;
        animation: mapLoc2Dynamic 0.4s infinite ease-in-out;

        @keyframes mapLoc2Dynamic {
            0%,
            100% {
                transform: translate(0, 0);
            }

            50% {
                transform: translate(0, -4%) scale(1.02);
            }
        }
    }

    &__mapLocation3Light {
        position: absolute;
        z-index: 10;
        width: 34%;
        object-fit: contain;
        object-position: left top;
        transform: rotate(-3deg);
        transform-origin: left top;
        transition: 0.2s;
        animation: mapLoc3Light 1s infinite ease-in-out;
        aspect-ratio: 1;

        @keyframes mapLoc3Light {
            0%,
            100% {
                transform: rotate(-2deg);
            }

            50% {
                transform: rotate(2deg);
            }
        }

        &:not(._show) {
            opacity: 0;
        }

        &._1 {
            top: 22.4%;
            left: 31.6%;
        }

        &._2 {
            top: 19.7%;
            left: 36.4%;
            animation-delay: 0.16s;
        }

        &._3 {
            top: 17%;
            left: 41.2%;
            animation-delay: 0.32s;
        }

        &._4 {
            top: 11.4%;
            left: 51.2%;
            animation-delay: 0.48s;
        }

        &._5 {
            top: 8.7%;
            left: 55.9%;
            animation-delay: 0.64s;
        }

        &._6 {
            top: 6.1%;
            left: 60.6%;
            animation-delay: 0.85s;
        }
    }

    &__mapLocation3Door {
        position: absolute;
        top: 61.7%;
        left: 53.6%;
        z-index: 12;
        width: 31.5%;
        aspect-ratio: 1;
        object-fit: contain;
        opacity: 0;
        animation: mapLoc3Door 2s infinite ease-in-out;
        animation-delay: 0.5s;

        @keyframes mapLoc3Door {
            0%,
            100% {
                opacity: 0.2;
            }

            20%,
            80% {
                opacity: 1;
            }
        }
    }

    &__mapLocation3Man {
        position: absolute;
        z-index: 11;
        object-fit: contain;
        aspect-ratio: 1;
        transform-origin: center bottom;

        @keyframes mapLoc3Man {
            0%,
            100% {
                transform: rotate(0deg);
            }

            50% {
                transform: rotate(4deg);
            }
        }

        &._1 {
            top: 41%;
            left: 39%;
            width: 17%;
            animation: mapLoc3Man 1s infinite ease-in-out;
        }

        &._2 {
            top: 32.5%;
            left: 51.6%;
            width: 12%;
            animation: mapLoc3Man 1s infinite ease-in-out;
            animation-delay: 0.3s;
        }

        &._3 {
            top: 40%;
            left: 59.5%;
            width: 15%;
            animation: mapLoc3Man 1s infinite ease-in-out;
            animation-delay: 0.6s;
        }

        &._4 {
            top: 30.5%;
            left: 65.2%;
            width: 16%;
            animation: mapLoc3Man 1s infinite ease-in-out;
            animation-delay: 0.3s;
        }
    }

    &__mapLocation3Flash {
        position: absolute;
        z-index: 12;
        object-fit: contain;
        aspect-ratio: 1;
        opacity: 0;
        animation: mapLoc3Flash 5s infinite ease-in-out;

        @keyframes mapLoc3Flash {
            0% {
                opacity: 0;
            }

            9%,
            18% {
                opacity: 1;
            }

            27% {
                opacity: 0;
            }

            36%,
            45% {
                opacity: 1;
            }

            54%,
            63% {
                opacity: 0;
            }

            65% {
                opacity: 1;
            }

            67% {
                opacity: 0;
            }

            69% {
                opacity: 1;
            }

            71% {
                opacity: 0;
            }

            73% {
                opacity: 1;
            }

            75% {
                opacity: 0;
            }

            77% {
                opacity: 1;
            }

            79% {
                opacity: 0;
            }

            81% {
                opacity: 1;
            }

            83%,
            100% {
                opacity: 0;
            }
        }

        &._1 {
            top: 32%;
            left: 38.5%;
            width: 24%;
        }

        &._2 {
            top: 25.3%;
            left: 50.95%;
            width: 25.5%;
        }
    }

    &__mapLocation4Light {
        position: absolute;
        z-index: 13;
        object-fit: contain;

        @keyframes mapLoc4Light {
            0%,
            100% {
                opacity: 0;
            }

            50% {
                opacity: 0.45;
            }
        }

        &._1 {
            top: 38.2%;
            left: 40.3%;
            width: 22%;
            height: 45.7%;
            opacity: 0;
            animation: mapLoc4Light 2s infinite ease-in-out;
        }

        &._2 {
            top: 14.9%;
            left: 60.4%;
            width: 22%;
            height: 44.2%;
            opacity: 0;
            animation: mapLoc4Light 2s infinite ease-in-out;
            animation-delay: 1s;
        }

        &._3 {
            top: 16%;
            left: 34%;
            width: 10%;
            aspect-ratio: 1;
            opacity: 0;

            @keyframes mapLoc4Light3 {
                0%,
                100% {
                    opacity: 0;
                }

                50% {
                    opacity: 1;
                }
            }

            animation: mapLoc4Light3 1.6s infinite ease-in-out;
            animation-delay: 0.5s;
        }

        &._4 {
            top: 39.7%;
            left: 25.5%;
            width: 16%;
            aspect-ratio: 1;
            opacity: 0;

            @keyframes mapLoc4Light4 {
                0%,
                100% {
                    opacity: 0;
                }

                50% {
                    opacity: 1;
                }
            }

            animation: mapLoc4Light4 1.6s infinite ease-in-out;
            animation-delay: 1.2s;
        }

        &._5 {
            top: 30.7%;
            left: -4.4%;
            width: 24%;
            aspect-ratio: 1;
            opacity: 0;

            @keyframes mapLoc4Light5 {
                0%,
                100% {
                    opacity: 0;
                }

                50% {
                    opacity: 1;
                }
            }

            animation: mapLoc4Light5 1.6s infinite ease-in-out;
            animation-delay: 0.5s;
        }
    }

    &__mapLocation4Point {
        position: absolute;
        z-index: 100;
        width: 3%;
        object-fit: contain;
        opacity: 0;
        transition: 0.2s ease-in-out;
        aspect-ratio: 1;

        &._show {
            opacity: 0.92;
        }

        &._left {
            @include bg("/media/map/loc4-light-left.png", contain, left top);

            &._1 {
                top: 83.1%;
                left: 26.2%;
            }

            &._2 {
                top: 88%;
                left: 34.5%;
            }

            &._3 {
                top: 93%;
                left: 42.8%;
            }
        }

        &._right {
            @include bg("/media/map/loc4-light-right.png", contain, left top);

            &._1 {
                top: 92.3%;
                left: 59.2%;
            }

            &._2 {
                top: 87.7%;
                left: 66.6%;
            }

            &._3 {
                top: 82.8%;
                left: 74.5%;
            }

            &._4 {
                top: 67.3%;
                left: 78.7%;
            }

            &._5 {
                top: 62.8%;
                left: 85.9%;
            }

            &._6 {
                top: 58%;
                left: 93.4%;
            }
        }
    }

    &__mapLocation4Border {
        position: absolute;
        z-index: 14;
        object-fit: contain;
        opacity: 0;

        @keyframes mapLoc4Border {
            0%,
            100% {
                opacity: 0;
            }

            50% {
                opacity: 0.8;
            }
        }

        &._1 {
            top: 51%;
            left: 22%;
            width: 59%;
            aspect-ratio: 1;
            animation: mapLoc4Border 2s infinite ease-in-out;
        }

        &._2 {
            top: 35.5%;
            left: 59.3%;
            width: 41%;
            aspect-ratio: 1;
            animation: mapLoc4Border 2s infinite ease-in-out;
            animation-delay: 1s;
        }
    }

    &__mapLocation5Head {
        position: absolute;
        top: -13%;
        left: 11.5%;
        z-index: 11;
        width: 75%;
        object-fit: contain;
        aspect-ratio: 1;
        animation: mapLoc5Head 3s infinite ease-in-out;

        @keyframes mapLoc5Head {
            0%,
            80% {
                transform: translate(0, 0);
            }

            20%,
            50% {
                transform: translate(0, -16rem);
            }
        }
    }

    &__mapLocation5Prize {
        position: absolute;
        top: 19.8%;
        left: 17.5%;
        z-index: 10;
        width: 180px;
        height: 96px;
        transform-origin: left top;
        clip-path: url("#mapLocation5Prize");

        &::after {
            position: absolute;
            top: 46px;
            left: 10px;
            z-index: 1;
            width: 127px;
            height: 160px;
            transform: translate(0, 50px);
            animation: mapLoc5Prize 3s infinite ease-in-out;
            content: "";

            @include bg("/media/map/map-loc-05-3.png", contain, center top);

            @keyframes mapLoc5Prize {
                0%,
                10%,
                80%,
                100% {
                    transform: translate(0, 50px);
                }

                30%,
                50% {
                    transform: translate(0, 0);
                }
            }
        }
    }
}
