.faqForm {
    width: 100%;
    padding: 100rem 0 0;

    @include mob {
        padding: 20rem 0 0;
    }

    &__inner {
        align-items: center;
        width: 610rem;
        padding: 48rem;
        background: #fff;
        border-radius: 24rem;

        @include mob {
            width: 100%;
            padding: 16rem 12rem 50rem;
            border-radius: 16rem;
        }
    }

    &__title {
        position: relative;
        z-index: 2;
        width: 100%;
        margin-bottom: 28rem;
        padding: 20rem 32rem;
        color: #fff;
        font-weight: 500;
        font-size: 16rem;
        line-height: 1.3;
        text-align: center;
        text-transform: uppercase;
        background: #8200cc;
        border-radius: 8rem;

        @include mob {
            padding: 16rem 20rem;
            font-size: 15rem;
        }
    }

    &__form {
        position: relative;
        z-index: 1;
        width: 100%;
    }
}
