.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 18rem 34rem;
    color: #fff;
    font-size: 16rem;
    line-height: 1.4;
    text-align: center;
    text-transform: uppercase;
    border-radius: 8rem;
    box-shadow: 4rem 4rem 0 0 #000;

    @include button(0.97);

    @include mob {
        padding: 14rem 26rem;
        font-size: 18rem;
        border-radius: 10rem;
        box-shadow: 5rem 5rem 0 0 #000;
    }

    &._mediumSize {
        padding: 15rem 26rem;
        font-size: 15rem;
    }

    &._boldBorder {
        border: 2rem solid #000;
        box-shadow: 6rem 6rem 0 0 #000;

        @include mob {
            border-width: 3rem;
        }
    }

    &._purpleColor {
        color: #fff;
        background: #5d279e;

        @include hover {
            &:hover {
                background: #8200cc;
            }
        }
    }

    &._lightPurpleColor {
        color: #fff;
        background: #8200cc;

        @include hover {
            &:hover {
                background: #ad1cff;
            }
        }
    }

    &._pinkColor {
        color: #fff;
        background: #ff49b8;

        @include hover {
            &:hover {
                background: #ff6bc9;
            }
        }
    }

    &._darkPinkColor {
        background: #d300b4;
    }

    &._whiteColor {
        color: #5d279e;
        background: #fff;

        @include hover {
            &:hover {
                background: #ff49b8;
            }
        }
    }

    &__loader {
        background: inherit;
        border-radius: inherit;
    }
}
