.page {
    position: relative;
    width: 100%;
    height: 100%;

    &__topBar {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        transition: $trans;

        &._fix {
            z-index: 3;
            background: #c60019;
        }

        &._fix:not(._show) {
            transform: translate(0, -100%);
        }
    }

    &__menu {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1000;
        width: 100%;
        height: 100%;
        background: #c60019;
        will-change: transform;

        &:not([data-show]) {
            transform: scale(1.02);
            pointer-events: none;
        }
    }

    &__close {
        position: absolute;
        top: 154rem;
        right: 205rem;
        z-index: 10;
        transition: $trans;

        &._move {
            transform: translate(90rem, 0);
        }
    }

    &._game &__close {
        top: 160rem;
        right: 160rem;
        transform: translate(0, 0);
    }

    &._game .closeBtn {
        background: #ff49b8;
        box-shadow: 0 2rem 0 0 rgba(#000, 0.3);

        @include icon(#8200cc);
    }

    &__scroll {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        overflow-y: auto;

        &Inner {
            position: relative;
            width: 100%;
            min-height: var(--wheight);
            background-color: #c60019;
        }

        &Content {
            position: relative;
            z-index: 1;
            width: 100%;
            transition: $trans;
        }
    }

    &__loader {
        top: 0;
        height: var(--wheight);
    }

    ._BOT &__scrollInner {
        @include mob {
            padding: 20rem !important;
        }
    }

    &._loading &__scrollContent {
        opacity: 0;
    }

    &._inner &__scrollContent {
        width: 1150rem;
        margin: 0 auto;
        padding: 36rem 24rem 64rem;
        overflow: hidden;
        border-radius: 24rem;

        @include bg("/media/inner/back-inner-2.svg", 100% auto, center top, repeat-y);

        @include mob {
            width: 100%;
            padding: 24rem 10rem 32rem;
            background: none;
            border-radius: 20rem;
        }
    }

    &._profile._inner &__scrollContent {
        padding-bottom: 24rem;
    }

    &._prizes._inner &__scrollContent,
    &._profile._inner &__scrollContent {
        @include mob {
            padding-right: 0;
            padding-bottom: 0;
            padding-left: 0;
        }
    }

    &._inner &__scrollContent {
        background-color: #ffae83;
    }

    &._innerReverse._inner &__scrollContent {
        @include bg("/media/inner/carousel-back.svg", 100% auto, center top);

        @include mob {
            @include bg("/media/inner/carousel-back-mob.svg", 100% auto, center top);
        }
    }

    &._innerReverse._inner &__scrollContent {
        background-color: #ff49b8;
    }

    &._inner &__scrollInner {
        padding: 132rem 0 100rem;

        @include bg("/media/inner/back-inner-1.svg", 100% auto, center top);

        @include mob {
            padding: 70rem 20rem 32rem;
            background: none;
        }
    }

    &._inner &__scrollInner {
        background-color: #c60019;
    }

    &._game &__scrollInner {
        padding: 110rem 0 0;

        @include mob {
            padding-top: 72rem;
        }
    }

    &._game &__scrollContent {
        width: 1300rem;
        height: 750rem;

        @include bg("/media/inner/game-back.jpg", 100% auto, center top);

        @include mob {
            width: 100%;
            height: 660rem;
            padding: 0;
            background: none;
        }
    }
}
