.popup {
    &:not(._withIds) {
        padding: 32rem;

        @include mob {
            padding: 24rem 16rem;
        }
    }

    &._back {
        background: #c60019;
    }

    &__wrapper {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        overflow: hidden;
        overflow-y: auto;

        &Box {
            position: relative;
            z-index: 1;
            display: inline-flex;
            flex-direction: column;
            width: 100%;
            min-height: var(--wheight);
            padding: 32rem;
            overflow: hidden;

            @include mob {
                display: block;
                padding: 78rem 16rem 24rem;
            }

            &._notBar {
                @include mob {
                    padding: 16rem;
                }
            }

            &::before {
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                width: 100%;
                height: 100%;
                min-height: 850rem;
                content: "";

                @include bg("/media/inner/back-inner-popup.svg", contain, center);

                @include mob {
                    display: none;
                }
            }
        }
    }

    ._BOT &__wrapperBox {
        @include mob {
            padding: 16rem;
        }
    }

    &._minHeight &__wrapperBox {
        padding-top: 120rem;
        padding-bottom: 60rem;

        @include mob {
            padding-top: 78rem;
        }
    }

    &__topBar {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        width: 100%;
    }

    &__menu {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 11;
        width: 100%;
        height: var(--wheight);
        background: #c60019;
        will-change: transform;

        &:not([data-show]) {
            transform: scale(1.02);
            pointer-events: none;
        }
    }

    &__inner {
        position: relative;
        z-index: 1;
        width: 100%;
        width: 604rem;
        margin: auto;
        transition: $trans;

        @include mob {
            width: 100%;
            margin: 0;
            border-radius: 26rem;
        }

        &Box {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            padding: 32rem 40rem 42rem;
            overflow: hidden;
            background: #fff;
            border-radius: 24rem;
            transition: $trans;

            &._empty {
                padding: 0 !important;
            }

            &._loading {
                opacity: 0;
                pointer-events: none;
            }

            &._block {
                display: block;
            }

            @include mob {
                padding: 20rem 14rem 44rem;
            }
        }
    }

    &__loader {
        height: var(--wheight);
    }

    &._loading &__innerBox {
        opacity: 0;
        pointer-events: none;
    }

    &._chequePopup &__inner {
        width: 604rem;
    }

    &__close {
        position: absolute;
        top: 20rem;
        right: 20rem;
        z-index: 10;
        margin-left: 12rem;
        transition: $trans;
    }

    &._loading &__close {
        opacity: 0;
    }

    &__height {
        min-height: 180rem;
        padding-bottom: 20rem;
    }

    &__steps {
        width: 100%;

        &Item {
            top: 50%;
            width: 100%;
            transform: translate(0, -50%);

            &:not([data-show])[data-prev] {
                transform: translate(-32rem, -50%);
            }

            &:not([data-show])[data-next] {
                transform: translate(32rem, -50%);
            }
        }
    }

    &__step {
        width: 100%;
    }

    &__head {
        justify-content: center;
        min-height: 80rem;
        margin: -32rem -40rem 28rem;
        padding: 23rem 20rem 21rem;
        border-radius: 24rem;

        @include bg("/media/inner/back-popup-text.svg", cover, center top);

        @include mob {
            min-height: 72rem;
            margin: -20rem -14rem 24rem;
        }
    }

    &__head {
        background-color: #fbac2f;
    }

    &__title {
        position: relative;
        z-index: 1;
        width: 100%;
        color: #5d279e;
        font-weight: 600;
        font-size: 24rem;
        line-height: 1.2;
        text-align: center;
        text-transform: uppercase;

        &._bottom {
            margin-bottom: 20rem;
        }

        @include mob {
            font-size: 22rem;
        }
    }

    &__description {
        max-width: 80%;
        margin-top: 10rem;
        color: #231f20;
        font-size: 16rem;
        line-height: 1.3;
        text-align: center;

        @include mob {
            max-width: 100%;
            margin-top: 4rem;
            font-weight: 500;
            font-size: 16rem;
        }
    }

    &__form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 8rem;

        &Field {
            margin-bottom: 8rem;

            &._short {
                width: calc(50% - 8rem);
            }

            & .field__support {
                font-size: 16rem;
            }

            &._checkbox {
                padding-top: 10rem;
            }

            &Link {
                display: inline-block;
                margin: 9rem 0 0 auto;
                color: #ff49b8;
                font-weight: 600;
                font-size: 16rem;
                font-family: Onest;
                line-height: 0.9;

                @include mob {
                    margin: 21rem 0 0 auto;
                    font-size: 18rem;
                    border-width: 2rem;
                }
            }
        }
    }

    &__start {
        margin: 20rem 0 46rem;

        &Title {
            max-width: 80%;
            margin-bottom: 32rem;
            color: #fff;
            font-weight: 500;
            font-size: 20rem;
            line-height: 1.3;
            text-align: center;

            @include mob {
                max-width: 100%;
            }
        }

        &Area {
            position: relative;
            height: 180rem;
            padding: 30rem;
            background: #f9ecfd;
            border-radius: 8rem;

            &Border {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
                width: 100%;
                height: 100%;
                pointer-events: none;

                & .dashedBorder__rect {
                    stroke: #8200cc;
                    rx: 8rem;
                    ry: 8rem;
                }
            }

            &Icon {
                width: 36rem;
                height: 36rem;
                margin-bottom: 18rem;

                @include icon(#8200cc);
            }

            &Text {
                color: #222221;
                font-weight: 600;
                font-size: 16rem;
                font-family: Onest;
                line-height: 1.3;
                text-align: center;

                @include mob {
                    font-size: 18rem;
                }
            }
        }
    }

    &__scan {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 340rem;
        overflow: hidden;
        border-radius: 20rem;

        &Video {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            object-fit: contain;
            opacity: 0;
            pointer-events: none;
        }

        & canvas {
            position: relative;
            z-index: 100;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__upload {
        position: relative;
        z-index: 1;
        min-height: 100rem;
        margin: 0 0 26rem;
        padding: 20rem;
        background: #f9ecfd;
        border-radius: 8rem;

        &Border {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            width: 100%;
            height: 100%;
            pointer-events: none;

            & .dashedBorder__rect {
                stroke: #8200cc;
                rx: 8rem;
                ry: 8rem;
            }
        }

        & input {
            display: none;
        }

        &Text {
            max-width: 80%;
            color: #222221;
            font-weight: 600;
            font-size: 16rem;
            font-family: Onest;
            line-height: 1.3;
            text-align: center;

            @include mob {
                max-width: 90%;
                font-size: 18rem;
            }
        }

        &File {
            position: relative;
            z-index: 1;
            width: 48rem;
            height: 48rem;
            margin-bottom: 8rem;
            overflow: hidden;
            border-radius: 10rem;

            & + & {
                margin-left: 10rem;
            }

            &Preview {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &Delete {
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 3;
                width: 20rem;
                height: 20rem;
                background: #5d279e;
                border-radius: 50%;
                transform: translate(-50%, -50%);

                &Icon {
                    width: 8rem;
                    height: 8rem;

                    @include icon(#fff);
                }
            }
        }
    }

    &__final {
        position: relative;
        justify-content: center;
        min-height: 180rem;
        margin: 50rem 0 0;
        padding: 32rem;
        background: #ccfffd;
        border-radius: 8rem;

        &._bottom {
            margin-bottom: 40rem;
        }

        @include mob {
            padding: 28rem 20rem;
        }

        &Border {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            width: 100%;
            height: 100%;
            pointer-events: none;

            & .dashedBorder__rect {
                stroke: #c10f2f;
                rx: 20rem;
                ry: 20rem;
            }
        }

        &Title {
            margin-bottom: 16rem;
            color: #5d279e;
            font-weight: 600;
            font-size: 20rem;
            line-height: 1.3;
            text-align: center;
            text-transform: uppercase;
        }

        &Text {
            color: #222221;
            font-weight: 500;
            font-size: 18rem;
            font-family: Onest;
            line-height: 1.2;
            text-align: center;
        }
    }

    &__scanError {
        position: relative;
        width: 100%;
        margin-bottom: 40rem;
        padding: 48rem 30rem;
        background: #f9ecfd;
        border-radius: 8rem;

        &Border {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            width: 100%;
            height: 100%;
            pointer-events: none;

            & .dashedBorder__rect {
                stroke: #8200cc;
                rx: 8rem;
                ry: 8rem;
            }
        }

        &Text {
            margin-bottom: 16rem;
            color: #222221;
            font-weight: 600;
            font-size: 20rem;
            font-family: Onest;
            line-height: 1.3;
            text-align: center;
        }

        &Value {
            width: 100%;
            margin-bottom: 24rem;
            text-align: center;
        }

        &Button {
            @include mob {
                height: 66rem;
            }
        }
    }

    &__code {
        &Text {
            margin-bottom: 14rem;
            color: #222221;
            font-weight: 600;
            font-size: 18rem;
            font-family: Onest;
            line-height: 1.4;
            text-align: center;

            & a {
                color: #ff49b8;
                font-weight: 600;
                font-family: Onest;
                border-bottom: 1rem solid rgba(#ff49b8, 0.64);
            }

            & span {
                color: #222221;
                font-weight: 600;
                font-size: 16rem;
                font-family: Onest;
                text-align: center;
            }
        }

        &Email {
            margin: 12rem 0;
            padding: 5rem 14rem 4rem;
            color: #222221;
            font-weight: 600;
            font-size: 18rem;
            font-family: Onest;
            line-height: 1.3;
            text-align: center;
            background: #ff49b8;
            border-radius: 6rem;

            @include mob {
                padding: 4rem 12rem 3rem;
            }
        }

        &Inputs {
            max-width: 100%;
        }
    }

    &__socials {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 16rem 0 0;

        @include mob {
            flex-direction: column;
            margin: 22rem 0 0;
        }

        &Title {
            margin-bottom: 9rem;
            color: #222221;
            font-weight: 600;
            font-size: 18rem;
            font-family: Onest;
            line-height: 1.3;
            text-align: center;

            @include mob {
                margin-right: 0;
                margin-bottom: 14rem;
                font-size: 23rem;
            }
        }

        &Items {
            justify-content: center;
        }

        &Item {
            width: 56rem;
            height: 56rem;
            background: #f9ecfd;
            border-radius: 14rem;

            @include button;

            @include mob {
                width: 72rem;
                height: 72rem;
                border-radius: 17rem;
            }

            & + & {
                margin-left: 12rem;

                @include mob {
                    margin-left: 10rem;
                }
            }

            &Icon {
                width: 24rem;
                height: 24rem;
                object-fit: contain;

                @include mob {
                    width: 30rem;
                    height: 30rem;
                }
            }
        }
    }

    &__foot {
        margin-top: 30rem;

        @include mob {
            margin-top: 36rem;
        }
    }

    &__invite {
        padding-bottom: 12rem;

        &Text {
            color: #222221;
            font-weight: 600;
            font-size: 18rem;
            line-height: 1.3;
            text-align: center;

            @include mob {
                font-size: 18rem;
            }

            & + & {
                margin-top: 8rem;
            }

            &:not(._main) {
                font-family: Onest;
            }

            &._main {
                color: #5d279e;
                font-weight: 500;
                font-size: 16rem;
                text-transform: uppercase;

                @include mob {
                    font-size: 18rem;
                }
            }

            & a {
                display: inline;
                color: #ff49b8;
                font-weight: 600;
                font-family: Onest;
                border-bottom: 1rem solid rgba(#ff49b8, 0.64);
            }

            & b {
                color: #5d279e;
                font-weight: 700;
                line-height: 1.3;
                text-align: center;

                @include mob {
                    display: block;
                }
            }
        }

        &Info {
            width: 100%;
            margin-top: 24rem;
            padding: 24rem 32rem;
            background: #ccfffd;
            border-radius: 12rem;

            @include mob {
                padding-top: 20rem;
            }
        }
    }

    &__table {
        width: 100%;
        margin-bottom: 28rem;
    }

    &__error {
        width: 100%;
        transition: $trans;

        &._info {
            margin-top: 20rem;
        }

        &:not(._empty) {
            margin-bottom: 20rem;
        }

        &._info .error__itemInner {
            background: #6aa31a;
        }
    }

    &__merch {
        position: relative;
        width: 330rem;
        margin-bottom: 24rem;

        @include mob {
            width: 382rem;
        }

        &Button {
            position: absolute;
            top: 50%;
            z-index: 10;
            width: 48rem;
            height: 48rem;
            margin-top: -40rem;
            background: #ff49b8;
            border-radius: 50%;
            transform: translate(0, -50%);

            @include mob {
                width: 40rem;
                height: 40rem;
                margin-top: -20rem;
            }

            &._prev {
                left: -92rem;
                padding-right: 1rem;

                @include mob {
                    left: 20rem;
                }
            }

            &._next {
                right: -92rem;
                padding-left: 1rem;

                @include mob {
                    right: 20rem;
                }
            }

            &Icon {
                width: 20rem;
                height: 20rem;

                @include icon(#fff);

                @include mob {
                    width: 18rem;
                    height: 18rem;
                }
            }
        }

        &Inner {
            // padding: 0 36rem;
        }

        &Items,
        &ReactItems {
            position: relative;
            z-index: 2;
            display: inline-flex;
            align-items: stretch;
        }

        &Items {
            opacity: 0;
            pointer-events: none;

            &._vis {
                opacity: 1;
                pointer-events: visible;
            }
        }

        &ReactItems {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 3;
        }

        &Item {
            width: 330rem;
            margin-right: 140rem;

            @include mob {
                width: 382rem;
                margin-right: 30rem;
            }

            &Inner {
                width: 100%;
                height: 320rem;

                @include mob {
                    width: 100%;
                    height: 350rem;
                }
            }
        }

        &Checkbox {
            margin-top: 32rem;
        }
    }

    &__orderCard {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 52rem 24rem 32rem;
        border-radius: 20rem;

        @include bg("/media/inner/order-back.svg", 100% auto, center top);

        & {
            background-color: #ffae83;
        }

        &Head {
            width: 180rem;
            height: 180rem;
            margin-bottom: 20rem;
            background: #7a2799;
            border-radius: 50%;

            @include mob {
                width: 210rem;
                height: 210rem;
            }
        }

        &Image {
            width: 100%;
            height: 100%;
            object-fit: contain;
            user-select: none;
            pointer-events: none;
        }

        &Price {
            position: absolute;
            bottom: 0;
            left: 50%;
            z-index: 3;
            padding: 5rem 10rem;
            color: #fff;
            font-weight: 900;
            font-size: 16rem;
            font-family: Onest;
            white-space: nowrap;
            text-transform: uppercase;
            background: #8200cc;
            border-radius: 6rem;
            transform: translate(-50%, 50%);
        }

        &Name {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 36rem;
            color: #222221;
            font-size: 12rem;
            line-height: 1.4;
            text-align: center;
            text-transform: uppercase;

            @include mob {
                font-size: 13rem;
            }
        }
    }

    &__subTitle {
        padding: 4rem 8rem;
        font-weight: 600;
        font-size: 16rem;
        font-family: Onest;
        line-height: 1.3;
        text-align: center;
        background: #fbac2f;
        border-radius: 6rem;

        & span {
            position: relative;
            z-index: 1;
            display: inline-block;
            padding: 0 7rem;
            color: #fff;
            font-weight: 600;
            font-size: 14rem;

            &::before {
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: -1;
                width: 22rem;
                height: 22rem;
                background: #5d279e;
                border-radius: 50%;
                transform: translate(-50%, -50%);
                content: "";
            }
        }
    }

    &__raffle {
        position: relative;
        z-index: 1;
        height: 284rem;
        margin-bottom: 24rem;
        overflow: hidden;
        background: #ff49b8;
        border-radius: 20rem;

        @include mob {
            width: calc(100% + 28rem);
            height: 360rem;
        }

        &Sub,
        &SubItem,
        &SubInner {
            display: flex;
            justify-content: center;
            width: 100%;
        }

        &SubInner {
            padding-bottom: 24rem;
        }

        &SubResult {
            color: #222221;
            font-size: 16rem;
            text-transform: uppercase;
        }

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: $trans;
            content: "";

            @include bg("/media/raffle/raffle-back-decors.png", contain, center);

            @include mob {
                display: none;
            }
        }

        &:not(._process, ._complete)::before {
            opacity: 1;
        }

        &Back {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: -1;
            width: 356rem;
            height: 356rem;
            transform: translate(-50%, -50%);
            transition: $trans;

            @include bg("/media/inner/raffle-back.svg", contain, center);

            @include mob {
                width: 500rem;
                height: 500rem;
            }
        }

        &:not(._process) &Decor {
            opacity: 0;
        }

        &Decor {
            position: absolute;
            z-index: 1;
            transition: $trans;
            pointer-events: none;
            will-change: transform;

            &Thumb {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        &Decor._1 {
            top: 21rem;
            left: 71rem;
            width: 61rem;
            height: 54rem;
        }

        &Decor._2 {
            top: 105rem;
            left: 12rem;
            width: 60rem;
            height: 68rem;
        }

        &Decor._3 {
            bottom: 58rem;
            left: 66rem;
            width: 42rem;
            height: 42rem;
        }

        &Decor._4 {
            bottom: 34rem;
            left: 137rem;
            width: 28rem;
            height: 29rem;
        }

        &Decor._5 {
            top: 32rem;
            right: 133rem;
            width: 25rem;
            height: 25rem;
        }

        &Decor._6 {
            top: 27rem;
            right: 80rem;
            width: 36rem;
            height: 46rem;
        }

        &Decor._7 {
            right: 36rem;
            bottom: 98rem;
            width: 57rem;
            height: 65rem;
        }

        &Decor._8 {
            right: 104rem;
            bottom: 124rem;
            width: 23rem;
            height: 22rem;
        }

        &Decor._9 {
            right: 89rem;
            bottom: 14rem;
            width: 60rem;
            height: 60rem;
        }

        &._process &Start {
            opacity: 0;
            pointer-events: none;
        }

        &Start {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 3;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 100%;
            padding: 16rem;
            transition: $trans;

            @include mob {
                padding: 22rem 16rem;
            }

            &Title {
                margin-bottom: 12rem;
                color: #fff;
                font-weight: 600;
                font-size: 16rem;
                font-family: Onest;
                line-height: 1.3;
                text-align: center;

                @include mob {
                    font-size: 18rem;
                }
            }

            &Slider {
                width: 100%;

                &Items {
                    display: inline-flex;
                }

                &Item {
                    width: 500rem;

                    @include mob {
                        width: 350rem;
                    }

                    &Head {
                        width: 180rem;
                        height: 180rem;
                        margin-bottom: 8rem;
                        background: #7a2799;
                        border-radius: 50%;

                        @include mob {
                            width: 220rem;
                            height: 220rem;
                            margin-bottom: 16rem;
                        }
                    }

                    &Image {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        user-select: none;
                        pointer-events: none;
                    }

                    &Name {
                        max-width: 60%;
                        color: #fff;
                        font-size: 12rem;
                        line-height: 1.4;
                        text-align: center;
                        text-transform: uppercase;

                        @include mob {
                            max-width: 80%;
                            font-size: 14rem;
                            line-height: 1.4;
                        }
                    }
                }
            }

            &Button {
                position: absolute;
                top: 50%;
                z-index: 10;
                width: 48rem;
                height: 48rem;
                padding: 14rem;
                background: #fff;
                border-radius: 50%;
                transform: translate(0, -50%);

                @include icon(#ff49b8);

                @include mob {
                    width: 40rem;
                    height: 40rem;
                    margin-top: -14rem;
                    padding: 11rem;
                }

                &._prev {
                    left: 64rem;

                    @include mob {
                        left: 16rem;
                    }
                }

                &._next {
                    right: 64rem;

                    @include mob {
                        right: 16rem;
                    }
                }
            }
        }

        &._process &Prizes,
        &._complete &Prizes {
            opacity: 1;
        }

        &._complete &PrizesItem._result {
            opacity: 1 !important;
        }

        &Prizes {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 3;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: $trans;
            pointer-events: none;

            &._hide {
                opacity: 0 !important;
            }

            &Item {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 3;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                transition: $trans;

                &:not(._current) {
                    opacity: 0;
                }

                &Thumb {
                    width: 180rem;
                    height: 180rem;
                    object-fit: contain;
                    background: #7a2799;
                    border-radius: 50%;

                    @include mob {
                        width: 220rem;
                        height: 220rem;
                    }
                }

                &Name {
                    margin-top: 6rem;
                    color: #fff;
                    font-size: 12rem;
                    line-height: 1.2;
                    text-align: center;
                    text-transform: uppercase;

                    &._empty {
                        font-size: 14rem;
                        line-height: 1.4;
                    }

                    @include mob {
                        margin-top: 12rem;
                        font-size: 14rem;
                        line-height: 1.3;
                    }
                }
            }
        }

        &Foot {
            width: 100%;

            &Inner {
                width: 100%;
            }

            &Item {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
            }

            &Checkbox {
                margin-bottom: 22rem;
            }

            &Buttons {
                display: flex;
                justify-content: center;
                width: 100%;

                @include mob {
                    flex-direction: column;
                    align-items: center;
                }
            }

            &Button {
                & + & {
                    margin-left: 20rem;

                    @include mob {
                        margin-top: 20rem;
                        margin-left: 0;
                    }
                }

                @include mob {
                    width: 240rem;
                    height: 68rem;
                }
            }
        }
    }

    &__buttons {
        align-items: center;
        justify-content: center;
        width: 100%;

        @include mob {
            flex-direction: column-reverse;
            padding: 0 4rem;
        }
    }

    &__button {
        height: 63rem;

        &._autoHeight {
            height: auto;

            & .v2button {
                padding-right: 22rem;
                padding-left: 22rem;
            }
        }

        &._fix {
            width: calc(50% - 10rem);

            & .v2button {
                padding-right: 4rem;
                padding-left: 4rem;
            }

            @include mob {
                width: 270rem;
            }
        }

        & + & {
            margin-left: 20rem;

            @include mob {
                margin-bottom: 16rem;
                margin-left: 0;
            }
        }
    }

    &__dynamicButtons {
        width: 100%;
        margin-top: 20rem;

        & .list__item {
            width: 100%;

            &Box {
                display: flex;
                justify-content: center;
            }
        }
    }

    &__dynamicButton {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}
